<div class="container-fluid mr-0 ml-0 pl-0 pr-0">
    <mat-toolbar color="primary">
        <span>Angular Material Examples</span>
        <span class="example-spacer"></span>
        <!--     <a mat-icon-button class="example-icon favorite-icon">
            <mat-icon>favorite</mat-icon>
        </a> -->
        <!--     <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>favorite</mat-icon>
        </button> -->
    </mat-toolbar>
</div>
<div class="container pl-0 pr-0">
    <router-outlet></router-outlet>
</div>